*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}
ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}
a{
    color: rgb(188, 196, 202);
    text-decoration: none;
}
a:hover{
    color: black;
}

.logo {
    display: block;
    height: auto;
    margin: 0 auto;
}
img {
    height: auto;
    max-width: 100%;
}
img {
    border: 0;
     }
 .title {
    text-align: center;
 }
 h1{
    color: rgb(3, 248, 248);
    font-size: 2.125rem;
 }
 .box{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    
 }
 .box p{
    width: 50%;
    line-height: 1.9;
    color: #666;
    padding: 10px;
    margin: 12.8px;
    font: 400;
    line-height: 1.75;
 }
 .cards{
    display: flex;
    gap: 20px;
 }
 .card{
    
    flex: 1;
    padding: 600px;
    border-radius: 30px;
    color: white;
 }
 .card1{
    background: #01bba2;

 }
 .card2{
    background: rgb(72, 72, 146);
 }
 .card3{
    background:rgb(31, 31, 143);

 }

 
